.mechabotContent {
  border: $border-stock;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.mechabotCarousel,
.mechabotInfoPanel {
  width: 45vw;
}

// add media quieries